body {
  font-family: Nunito Sans;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  margin-top: 80px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sub {
  background-color: yellow;
  color: black;
}
.contentdata {
  height: 300px;
  width: 250px;
  text-align: center;
  border: 1px solid lightgray;
  padding-bottom: 0;
  margin-bottom: 20px;
  img {
    padding: 0px;
    height: 40%;
    width: 100%;
    padding-bottom: 30px;
  }
  span {
    font-weight: 300;
  }
}
.body {
  padding: 20px;
}
.region {
  margin-left: 5%;
  width: 300px;
  height: 50px;
}
.filter {
  margin-right: 5%;
  float: right;
  width: 150px;
  height: 30px;
}
#filterInput {
  background: url("./search.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

.region {
  ul {
    margin-top: 51px;
    display: none;
  }
  li {
    width: 100%;
  }
}
.SubRegion {
  height: 100px;
  width: 100px;
  margin-left: 100%;
  margin-top: -27%;
  color: black;
  list-style: none;
}

.poulation {
  margin-right: 300px;
}
button {
  text-decoration: none;
}
.bold-label {
  font-weight: bold;
}
.filter:hover {
  cursor: pointer;
}
.region:hover {
  cursor: pointer;
}
#ull {
  display: none;
}
.darkmode:hover {
  cursor: pointer;
}
.area:hover {
  cursor: pointer;
}
#populationascending:hover {
  cursor: pointer;
}
#populationdecending:hover {
  cursor: pointer;
}
#areaascending:hover {
  cursor: pointer;
}
#areadecending:hover {
  cursor: pointer;
}
.darkmode {
  background: url("./nightmode.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}
button:hover {
  cursor: pointer;
}
